
@import url('https://fonts.googleapis.com/css2?family=Marko+One&family=Oleo+Script&family=Squada+One&display=swap');

.text1{
	font-family: 'Squada One', cursive;
}
.text2{
	font-family: 'Marko One', serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.color {
	background: linear-gradient(125deg, #461607, #3b071a, #052c3a, #034234,#302f04);
	background-size: 400% 400%;
	-webkit-animation: gradient 5s ease infinite;
	        animation: gradient 5s ease infinite;
	
}
.colors {
	background: linear-gradient(120deg, #be6d5644, #ac4a6ee3, #1e5566d0, #15614fc7,#50500f);
	background-size: 400% 400%;
	-webkit-animation: gradient 5s ease infinite;
	        animation: gradient 5s ease infinite;
	
}


.color:hover{
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 5s ease infinite;
}
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 340px) {
	.aaa{
	display: none;
	/* background-image: url("respon.svg"); */

	}
}






